body {
    font-family: 'Arial, sans-serif';
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px 0;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.item img {
    max-width: 100%;
    height: auto;
}

a {
    margin: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}
