body{
    margin: 0;
    background-color: rgb(249, 233, 242);
}

header{
    margin: 0px;
    height: 100px;
    background-color: lightpink;
}

main{
    background-color: #ffffff;
}

#footer{
  height: 100px;
  width: 100%;
  background-color: #7a7a7a;

  position: absolute;
  bottom: 0;

  color: rgb(255, 255, 255);
  font-size: 12px;
  text-align: center;
  font-weight: bold; 

}


header a{
    width: 125px;

    margin: 25px 0px auto 50px;
    padding: 5px;
    float: left;
    
    color: #ffffff;
    background-color:lightpink;
    font-size: 30px;
    text-align: center;
    border: 3px solid #ffffffa9;

    /* 去除底線 */
    text-decoration: none;
}

/* 新增好友資訊的表單 */
#form{
    margin: 0px;
}

/* 朋友表格的樣式 */
#friendTable{
    border-collapse: collapse;
    width: 800px;

    margin-left: auto;
    margin-right: auto;
}
#friendTable th{
    background-color: #1ba068;
    color: #ffffff;
}
#friendTable tr:hover{
    background-color: rgb(203, 228, 60);
    color: #ffffff;
}

/* 多層選單架構樣式 */
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.menu{
    float: left;

    font-size: 30px;
}
.menu a{
    margin: auto 50px auto;
    display: block;

    text-align: center;
    text-decoration: none;
}
.menu a:hover{

    background-size: cover;
    color: white;
}
.menu > li{
    float: left;
}
.menu > li > a{
    margin: 25px 0px auto 50px;
}
.menu li{
    position: relative;
    min-width: 120px;
}
.menu li:hover > ul{
    display: block;
}
.menu ul{
    position: absolute;
    z-index: 10;
    top: 100%;
    display: none;
}
#names{
    margin-left:80px ;
}