body{
    margin: 0;
    padding: 0;
    background-color:rgb(255, 255, 255);
}
#fp{
    width: 85%;
    margin: 0px auto 50px;
    border-collapse: collapse;
    border-bottom: 2px solid rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
a{
    text-decoration: none;
}
#fp th{
    background-color: rgb(144, 217, 247);
    height: 50px;
    border: 3px solid white;
}
#fp tr{
    height: 50px;
    border: 1px solid rgb(255, 255, 255);
}
#fp td{
    border: 1px solid white;
}

#fp tr:hover {
	background-color: #FFFFDF;
}